@page
@model AuthorizationBaseLab.Pages.MockLoginModel
@{
    ViewData["Title"] = "伪造登陆页";
}

<div>
    <p>正常登陆页</p>
    <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.Request.Query["returnUrl"]" method="post">
        <label>用户名：<input name="userName"/></label>
        <label>密码：<input type="password" name="password"/></label>
        <input type="submit" value="提交"/>
    </form>
</div>